############################################################################
# GENERAL
############################################################################
.DS_Store
.terraform

############################################################################
# NODE PROJECTS
############################################################################
npm-debug.log*
**/node_modules
**/node_modules_bk

# deployment
**/dist

# IDE
.vscode

############################################################################
# ENV
############################################################################