<!--
	This is a template for the site's entry point. The only purpose of this page is to get React injected into the DOM.
	We need a template in order to leverage the HtmlWebpackPlugin plugin. 
-->
<!DOCTYPE html>
<html lang="en" xml:lang="en">
  <head>
	 <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
	 <meta name="google" value="notranslate">
	 <title><%= htmlWebpackPlugin.options.title %></title>

  </head>
  <body>
		<!-- Dependencies -->
		<script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
		<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
	  	<div id="root" style="height: 100%"/>
  </body>
</html>